<header class="bg-dark text-white py-3">
  <div class="container d-flex justify-content-center align-items-center">
    <nav class="main-nav">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon">☰</label>
      <!-- <ul class="nav-links d-flex flex-column flex-md-row gap-3 justify-content-center align-items-center m-0">
        <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Inicio</a></li>
        <li><a routerLink="/proyectos" routerLinkActive="active" (click)="closeMenu()">Proyectos</a></li>
        <li><a routerLink="/musica" routerLinkActive="active" (click)="closeMenu()">Música</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active" (click)="closeMenu()">Contacto</a></li>
      </ul> -->
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

